body {
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    display: none;
}

::selection{
    background-color: transparent;
}
.header{
     height: 100vh;
     width: 100%;
     background-color: #000;
     position: absoulte;
     font-family: Prime;
}
ul{
    position: absolute;
    top: 15%;
    left: 35%;
    transform: translate(-50%, -50%);
    
}