body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%
  }
  .intro{
      height: 100vh;
      width: 100vw;
      margin: auto;
      background: url(https://images.pexels.com/photos/1022928/pexels-photo-1022928.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 50% 50%;
      display: table;
      background-size: cover;
  
  }
  .inner{
      display: table-cell;
      vertical-align: middle;
      width: 100%; 
      max-width: none;
     
  }
  .content{
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
      padding-bottom: 28%;
  }
  .content h1{
    font-family: 'Yantramanav', sans-serif;
    font-size: 600%;
    font-weight: 100;
    color: deeppink;
    line-height: 70%;
  }
  .btn{
    font-family: 'Montserrat', sans-serif;
    font-size: 135%;
    font-weight: 400;
    color: yellow;
    text-decoration: none;
    text-transform: uppercase;
    border: solid 2px yellow;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.5s;
  }
  .btn:hover{
      color: rgb(0, 232, 127);
      border: solid 1px rgb(31, 213, 131);
  }
  /*--- Media Queries --*/
  @media screen and (max-width: 900px) {
  .content {
      padding-bottom: 30%;
  }
  .content h1 {
      font-size: 450%;
  }
  .btn {
  font-size: 110%;
  padding: 9px 17px;
  }
  }
  @media screen and (max-width: 768px) {
      .content {
          padding-bottom: 40%;
      }
      .content h1 {
          font-size: 300%;
      }
      .btn {
      font-size: 110%;
      padding: 7px 15px;
      }
  }
  @media screen and (max-width: 480px) {
      .content {
          padding-bottom: 50%;
      }
      .content h1 {
          font-size: 250%;
      }
      .btn {
      font-size: 100%;
      padding: 6px 14x;
      }
  }